main{
    .div__clasicos__inicial{
        height: 100px;
        background-color: #c84a61;
        @include flex (row,center,center);
        .titulo__usados{
            font-size: 4rem;
            @extend %color-general;;
            font-family: $fuente-principal;
        }
    }
    .descripcion__clasicos{
        padding-top: 15px;
        .descripcion{
            font-family: $fuente-principal;
            @include font (1.7rem,normal);
            text-align: center;
        }
    }
    .usados{
        padding-bottom: 20px;
        div{
            div{
                .primer__carrusel{
                    padding-top: 20px;
                    div{
                        div{
                            .audi{
                                height: 44vh;
                                object-fit: scale-down;
                            }
                        }
                    }
                    .boton__carrusel{
                        background-color: #acacac48;
                        &:hover{
                            background-color: #dedede64;
                        }
                    }
                }
                .div__grilla{
                    padding-top: 10px;
                    .marca{
                        @include font (1.3rem,normal)
                    }
                    .descripcion__grilla{
                        @include font (2rem,normal);
                        border-bottom: 1px solid $color-principal-texto;
                    }
                    .div__link__consulta{
                        display: flex;
                        justify-content: center;
                        .link__consulta{
                            padding: map-get($map: $boton-consulta, $key: padding);
                            font-family: map-get($map: $boton-consulta, $key:font-family );
                            border-radius: map-get($map: $boton-consulta, $key:border-radius );
                            background-color: map-get($map: $boton-consulta, $key:bg-color );
                            border: map-get($map: $boton-consulta, $key:border );
                            text-decoration: map-get($map: $boton-consulta, $key:text-decoration );
                            color: map-get($map: $boton-consulta, $key:color );
                            box-shadow: map-get($map: $boton-consulta, $key:box-shadow );
                            transition: map-get($map: $boton-consulta, $key:transition );
                            &:hover{
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }
        }
    }
}