main{
    .div__form{
        background-image: url(../assets/img/fondo-contacto.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        .formulario{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas:
            "form1"
            "input1"
            "form2"
            "input2"
            "form3"
            "input3"
            "form4"
            "input4";
            text-align: center;
            padding: 50px 0 50px 0;
            width: 40%;
            background-color: #000000c7;
            margin: 40px 0 40px 0;
            border-radius: 20px;
            box-shadow: 0 0 20px #b36262;
            gap: 30px;
            label{
                .p__form{
                    font-family: $fuente-principal, monospace;
                    @include font (2.5rem,normal);
                    @extend %color-general;
                    text-decoration: underline;
                    .p__form--1{
                        grid-area: form1;
                    }
                    .p__form--2{
                        grid-area: form2;
                    }
                    .p__form--3{
                        grid-area: form3;
                    }
                    .p__form--4{
                        grid-area: form4;
                    }
                }
                .input{
                    padding: 10px 30px 10px 30px;
                    @extend %bg-black;
                    // background-color: #000;
                    @extend %color-general;
                    font-family: monospace;
                    @include font (2rem,normal);
                    width: 70%;
                    border-bottom: 1px solid #BF0426;
                    border-right: 1px solid #BF0426;
                    border-top: none;
                    border-left: none;
                    border-radius: 10px;
                    .input--1{
                        grid-area: input1;
                    }
                    .input--2{
                        grid-area: input2;
                    }
                    .input--3{
                        grid-area: input3;
                    }
                    .input--4{
                        grid-area: input4;
                    }
                }
                .text__area{
                    width: 70%;
                    height: 100px;
                    @extend %bg-black;
                    font-family: monospace;
                    @extend %color-general;
                    @include font (1.5rem,normal);
                    border-bottom: 1px solid #BF0426;
                    border-right: 1px solid #BF0426;
                    border-top: none;
                    border-left: none;
                    border-radius: 15px;
                }
            }
            .animated-button{
                margin:auto;
                position: relative;
                width: 25%;
                display: inline-block;
                padding: 12px 24px;
                border: none;
                @include font (16px,600);
                background-color: inherit;
                border-radius: 100px;
                color: #ffffff40;
                box-shadow: 0 0 0 2px #ffffff20;
                cursor: pointer;
                overflow: hidden;
                transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
                &:hover{
                    box-shadow: 0 0 0 5px #f3212160;
                    @extend %color-general;
                }
                &:hover span:last-child{
                    width: 150px;
                    height: 150px;
                    opacity: 1;
                }
                &:active{
                    scale: 0.95;
                }
                span:first-child{
                    position: relative;
                    z-index: 1;
                }
                span:last-child{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 20px;
                    height: 20px;
                    background-color: #f32121;
                    border-radius: 50%;
                    opacity: 0;
                    transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
                }
            }
        }
    }
}