// estilos del main de la pagina nosotros
.main__nosotros{
    // estilos para el contenedor principal
    .div__main{
        background-image: url(../assets/img/consecionario.png);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 25px 0;
        display: flex;
        justify-content: center;
        // estilos para los textos
        .titulo__parrafo{
            @include flex (column,center,center);
            width: 70%;
            background-color: #2525259c;
            padding-top: 20px;
            padding-bottom: 20px;
            border-radius: 20px;
            box-shadow: 0 0 10px #d0d0d0;
            .titulo__nosotros{
                font-family: "Red Hat Display";
                @include font (5rem,normal);
                @extend %color-general;;
                font-style: italic;
                padding: 50px 0 25px 0;
                text-align: center;
            }
            .linea__nosotros{
                width: 30%;
                height: 2px;
                background-color: #BF0426;
            }
            .parrafo__nosotros{
                text-align: center;
                font-family: $fuente-principal;
                @include font (3rem,normal);
                padding: 30px 100px 30px 150px;
                @extend %color-general;;
            }
        }
    }
}