//estilos de los header de todas las paginas del proyecto
header {
    position: sticky;
    top: 0;
    z-index: 10;
    .div__nav{
        padding: 0 !important;
        nav{
            div{
                a{
                    .nav__logo{
                        width: 200px;
                    }
                }
                .div__ul{
                    width: 100%;
                    height: 100%;
                    justify-content: right;
                    ul{
                        li{
                            .nav__link{
                                font-size: 1.5rem;
                                padding: 15px !important;
                                transition: transform 0.5s ease;
                                &:hover{
                                    transform: scale(1.1);
                                    font-weight: bolder;
                                }
                            }
                        }
                    }
                }
                
            }
        }
    }
    .line{
        height: 1px;
        background-color: rgb(133, 133, 133);
    }
}